body {
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.25rem;
}

.cell {
    width: 5rem;
    height: 5rem;
    border: 1px solid var(--main1-dim);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.cell:hover {
    border: 3px solid var(--main1);
    cursor: pointer;
}

#top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
